body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 20px;
  font-size: 10%;
}

img{
  width: 50%;
}

div {
  display: inline-block;
  background-color: orange;
  padding: 2rem;
  border: dashed 1rem;
  margin: 3rem;
}

span {
  display: inline-block;
  background-color: red;
  width: 200px;
}

h6 {
    background-color: red;
}