body {
  background-color: yellow;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

img {
	width: 50%; /* obrazky budou siroke 50% sirky tagu ve kterem jsou vlozeny */
}

div{
	background-color: #ff6347;
	border: dashed 1em white ;
	padding: 2em ;
	margin: 3em ;
}

span{
	background-color: rgb(255, 99, 71);
}

#hlavniNadpis {
	background-color: green;

}

.cervene{
background-color: red;

}

.velke {

	font-size: 5em;
}

